*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Yu gothic light', sans-serif;
}
header{
    position: absolute;
    background: rgb(110, 148, 137);;
    padding: 15px;
    width: 100%;
}
a{
    color: #fff;
}
.left h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 800;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 5px;
  }
.site {
    text-decoration: none;
}

.left span{
    color: #62c45f;
}
.sair_btn{
    padding: 5px;
    background: #62c45f;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}
.sair_btn:hover{
    background: #91b9a3;
}
.sidebar{
    position: absolute;
    width: 250px;
    height: 150%;
    margin-top: 70px;
    padding-top: 30px;
    left: 0;
    background: rgb(105, 148, 136);;
    transition: 0.5s;
    transition-property: left;
}
.sidebar .image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.sidebar h2{
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property:background ;
}
.sidebar2{
    background: #3fbd78;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
}
.sidebar a:hover{
    background: #3fbd78;
}
.aoba{
    margin-left: 25%;
    margin-top: 15%;

    width: 350px;
    height: 350px;
    font-size: 20px;
    font-weight: 100;
    font-family: yu gothic light;
    font-weight: 600;
    color: #fff;
    background-color: rgb(105, 148, 136);;
    border-radius: 160px;
    border: none;
}
.aoba2{
    margin-left: 90px;
    margin-top: 15%;

    width: 350px;
    height: 350px;
    font-size: 20px;
    font-weight: 100;
    font-family: yu gothic light;
    font-weight: 600;
    color: #fff;
    background-color: rgb(105, 148, 136);;
    border-radius: 160px;
    border: none;
}
.aoba3{
    margin-left: -49%;
    margin-top: 45%;

    width: 350px;
    height: 350px;
    font-size: 20px;
    font-weight: 100;
    font-family: yu gothic light;
    font-weight: 600;
    color: #fff;
    background-color: rgb(105, 148, 136);;
    border-radius: 160px;
    border: none;
}
.aoba4{
   
    margin-left: 90px;
    margin-top: 45%;
    width: 350px;
    height: 350px;
    font-size: 20px;
    font-weight: 100;
    font-family: yu gothic light;
    font-weight: 600;
    color: #fff;
    background-color: rgb(105, 148, 136);;
    border-radius: 160px;
    border: none;
}
.content{   
    background-size: contain;
    background-position: center;
    height: 100vh;
    transition: 0.5s;
}
.content2{
    margin-left: 290px;
    margin-top: 90px;
    position: relative;
    height: 100vh;
    transition: 0.5s;    
}
.content3{   
    margin-left: 270px;
   width: 300px;
    margin-top: -350px;
    height: 100px;
    transition: 0.5s; 
}
.nome1{
    color: rgb(0, 0, 0);
}


.pai{
    display: flex;
    flex-direction: row;
margin-left: 5%;

}
.KPis{
    height: 100%;
    width: 78%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    flex-flow: row wrap;
    margin-left: 280px;
    color: white;
    font-size: 28px;
    
}

#kpi1{
    width: 28%;
    height: 28%;
    background-color: rgb(105, 148, 136);;
    margin-top: 125px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    cursor: default;
    font-size: 3vh;
    cursor:pointer;
    user-select: none;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.301);    

    
}
#kpi2{
    border-radius: 50px;
    cursor:pointer;
    user-select: none;
    width: 28%;
    height: 28%;
    background-color:rgb(105, 148, 136);;
    margin-top: 125px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    font-size: 3vh;

    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.301);      
}
#kpi3{
    border-radius: 50px;
    cursor:pointer;
    user-select: none;
    width: 28%;
    height: 28%;
    background-color: rgb(105, 148, 136);;
    margin-top: 25px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.301);    
    font-size: 3vh;

}
.bb{
    font-size: 3.8vh;
}
#kpi4{
    border-radius: 50px;
    cursor:pointer;
    user-select: none;
    width: 28%;
    height: 28%;
    background-color:rgb(105, 148, 136);;
    margin-top: 25px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.301);        
    font-size: 3vh;

}
#kpi5{
    border-radius: 50px;
    cursor:pointer;
    user-select: none;
    width: 28%;
    height: 28%;
    background-color: rgb(105, 148, 136);;
    margin-top: 25px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.301);  
    font-size: 3vh;
}
#kpi6{
    border-radius: 50px;
    cursor:pointer;
    user-select: none;
    width: 28%;
    height: 28%;
    background-color: rgb(105, 148, 136);;
    margin-top: 25px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.301);    
    font-size: 3vh;

}
#kpi7{
    border-radius: 50px;
    cursor:pointer;
    user-select: none;
    width: 28%;
    height: 28%;
    background-color: rgb(105, 148, 136);;
    margin-top: 25px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.301);    
    font-size: 3vh;

}
#kpi8{
    border-radius: 50px;
    cursor: pointer;
font-size: 3vh;
    width: 28%;
    height: 28%;
    background-color: #5479aa;
    margin-top: 25px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.301);     
    user-select: none;}

#kpi8:hover{
    background: #393e66;
}
#titulo{
    width: 28%;
    height: 28%;
    margin-top: 125px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    color: #62c45f;
    font-size: 35px;
    border: 4px solid #62c45f;
    border-radius: 4px;
}

.grow3:hover {
    
    transform: scale(0.91);
    transition: all 0.5s ease;
    -webkit-transform: scale(0.971);
    -ms-transform: scale(0.971);
}

.grow3 {
    transition: all 0.5s ease-in-out;
    visibility: visible;
 
}

#kpi9{
    width: 28%;
    height: 28%;
    background-color: rgb(105, 148, 136);;
    margin-top: 125px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    cursor:pointer;
    font-size: 3vh;
    user-select: none;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.301);    

    
}

.txtt{
    text-align: center;
margin-bottom: -15px;

}

.pri{
    margin-top: -80px;
    font-size: 2.4vh;
text-align: center;
}

.pri2{
    margin-top: -80px;
    font-size: 2.4vh;
text-align: center;
}

.txtt2{
    text-align: center;
margin-bottom: -20px;

}

.pri3{
    margin-top: -80px;
    font-size: 2.22vh;
text-align: center;

}

#diario1.fade {
       
    opacity:1;
  }


  #diario11.fade {
       
    opacity:0;
  }

  #diario1 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;
    opacity:0;
    user-select: none;}


  #diario11 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;  
    opacity:1;
    user-select: none; }







  #diario2.fade {
       
    opacity:1;
  }


  #diario22.fade {
       
    opacity:0;
  }

  #diario2 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;
    opacity:0;
    user-select: none;}


  #diario22 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;  
    opacity:1;
    user-select: none;}








  #diario3.fade {
       
    opacity:1;
  }


  #diario33.fade {
       
    opacity:0;
  }

  #diario3 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;
    opacity:0;
    user-select: none;}


  #diario33 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;  
    opacity:1;
    user-select: none;}







  #diario4.fade {
       
    opacity:1;
  }


  #diario44.fade {
       
    opacity:0;
  }

  #diario4 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;
    opacity:0;
    user-select: none;}


  #diario44 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;  
    opacity:1;
    user-select: none;}







  #diario5.fade {
       
    opacity:1;
  }


  #diario55.fade {
       
    opacity:0;
  }

  #diario5 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;
    opacity:0;
    user-select: none;}


  #diario55 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;  
    opacity:1;
    user-select: none;}







  #diario6.fade {
       
    opacity:1;
  }


  #diario66.fade {
       
    opacity:0;
  }

  #diario6 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;
    opacity:0;
    user-select: none;}


  #diario66 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;  
    opacity:1;
    user-select: none;}






  #diario7.fade {
       
    opacity:1;
  }


  #diario77.fade {
       
    opacity:0;
  }

  #diario7 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;
    opacity:0;
    user-select: none;}


  #diario77 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;  
    opacity:1;
    user-select: none;  
}








  #diario8.fade {
       
    opacity:1;
  }


  #diario88.fade {
       
    opacity:0;
  }

  #diario8 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;
    opacity:0;
    user-select: none;  
}


  #diario88 {
    -webkit-transition: opacity  0.7s ease-in-out;
    -moz-transition: opacity  0.7s ease-in-out;
    -ms-transition: opacity  0.7s ease-in-out;
    -o-transition: opacity  0.7s ease-in-out;
    transition: opacity  0.7s ease-in-out;
    pointer-events: none;  
    opacity:1;
    user-select: none;  
}

  .pri4{
    margin-top: -50px;
    font-size: 2.4vh;
text-align: center;
}